@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yu09ps');
  src:  url('fonts/icomoon.eot?yu09ps#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yu09ps') format('truetype'),
    url('fonts/icomoon.woff?yu09ps') format('woff'),
    url('fonts/icomoon.svg?yu09ps#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enamel:before {
  content: "\e90c";
}
.icon-nail-cutter:before {
  content: "\e90d";
}
.icon-nail-file:before {
  content: "\e90e";
}
.icon-chevron-up:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-whatsapp:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e905";
}
.icon-map-pin:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90b";
}
